body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    color: aliceblue;
    padding: 1px 0 15px 0;
}

.container{
    background: #3af3f35d;
}

#header h2 {
    text-align: end;
    font-size: 1.5em;
}

.entry--image{
    border-radius: 10%;
}

.button--comment {
    display: flex;
    flex-direction: row-reverse;
}

.comments {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2%;
}

.container-comment {
    display: flex;
}

.photo--perfil {
    border-radius: 50%;
    margin-left: 1%;
}

.photo--perfil img {
    width: 80%;
}

.like {
    float: right;
}

.like:hover {
    cursor: pointer;
    font-size: 20px;
    animation: latidos .5s infinite;
}


@keyframes latidos {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: none;
    }
}