body{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    color: rgb(15, 16, 17);
    padding: 1px 0 15px 0;
}

.container{
    background: #3af3f35d;
    
}

.container-aside{
    background: darkslateblue;
    margin-top: 2%;
}

.search ::-webkit-input-placeholder {
    margin-top: 5%;
}

.search input{
    margin: 5% 0 5% 10%;
}

.search .button{
    margin: 15% 0 5% 6%;
}

.title--menu{
    margin-top: 15%;
}

.title--menu{
    width: 100%;
    text-align: center;
}

.section--article{
    background: #e45fd2;
    border-radius: 8px;
    margin-top: 1%;
    padding: 0 2% 0 2%;
}

#header h2 {
    font-size: 1.5em;
    text-align: end;
    padding-left: 5px;
}

.entry--image{
    border-radius: 10%;
}

.button--comment {
    display: flex;
    flex-direction: row-reverse;
}

.comments {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2%;
}

.container-comment {
    display: flex;
}

.photo--perfil {
    border-radius: 50%;
    margin-left: 1%;
}

.photo--perfil img {
    width: 80%;
}

.like {
    float: right;
}

.like:hover {
    cursor: pointer;
    font-size: 20px;
    animation: latidos .5s infinite;
}


@keyframes latidos {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: none;
    }
}